@import "../abstract/variables";

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 95px 110px 0 95px;
  overflow: hidden;

  border-radius: 15px;

  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: $peach;

  color: $white;

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .title {
      font: $font-h1;
      max-width: 20ch;
    }

    .description {
      font: $font-body;
      max-width: 46ch;
    }

    .button {
      border: none;
      border-radius: 8px;
      background-color: $white;
      align-self: flex-start;
      color: $black;

      padding: 18px 25px;

      font: $font-link;
      letter-spacing: +1px;
      text-transform: uppercase;

      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $light-peach;
        color: $white;
      }
    }
  }
  .phone-image-container {
    width: 284px;
    height: 573px;
    border-radius: 35px 35px 0 0;

    position: relative;
    top: 4rem;

    overflow: hidden;

    background-image: url("/assets/home/desktop/image-hero-phone.png");
    background-position: center;
  }

  @media (max-width: $breakpoint-tablet) {
    & {
      flex-direction: column;
      align-items: center;
      padding: 5rem 1.5rem 0 1.5rem;

      .text-container {
        align-items: center;
        .title {
          text-align: center;
          max-width: 100%;
          font: 500 2rem/2.25rem "Jost", sans-serif;
        }
        p {
          text-align: center;
        }
        .button {
          align-self: center;
        }
      }
    }
  }
}
