@import "../abstract/variables";

.qualities {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .qualities-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
      background-position: center;
      background-size: cover;
    }

    h2 {
      font: $font-h3;
      letter-spacing: +5px;
    }

    p {
      font: $font-body;
      text-align: center;
      max-width: 36ch;
    }
  }
}
