@import "./variables";

.container {
  width: 77%;
  margin: 0 auto;
}

@media (max-width: $breakpoint-tablet) {
  .container {
    width: 89%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .container {
    width: 87%;
  }
}
