// Colors

// Primary colors:
$peach: rgb(231, 129, 107);
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);

// Secondary colors:
$light-peach: rgb(255, 173, 155);
$dark-grey: rgb(51, 49, 54);
$light-grey: rgb(241, 243, 245);
