.maps {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .map-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    .map {
      height: 400px;
      width: 100%;
      outline: none;
      z-index: 0;
    }
    .address {
      background-color: #fdf3f0;
      background-image: url("../../../../assets/shared/desktop/bg-pattern-two-circles.svg");
      background-repeat: no-repeat;
      background-position: 0% 100%;

      border-radius: 15px;

      grid-column: span 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 5rem;

      .title {
        display: block;
        font: $font-h2;
        margin-bottom: 1.5rem;
        color: $peach;
      }
      .text-container {
        p {
          display: inline-block;
          margin-right: 2rem;
          font: $font-body;

          span {
            display: block;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .map-row {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 0;
      row-gap: 2rem;

      .map {
        grid-row: 1;
        width: 100%;
      }
    }
  }
  @media (max-width: $breakpoint-mobile) {
    width: 100vw;

    .map-row {
      gap: 0;

      .address {
        border-radius: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        padding: 0;

        .title {
          margin: 0;
          display: block;
        }
        .text-container {
          p {
            margin: 0;
            display: block;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
